body{
    background-color:powderblue;
}

.container{
    margin-top: 20px;
    
    
}
.my-form{
    height: 120px;
    padding-top: 20px;
    background-color: aliceblue;
}

.btn{
    border: 1px solid black;
    border-radius: 4px;
    background-color: aqua;
    color: black;
    margin: 10px 10px;
    
}
.btn:hover{
    background-color: blueviolet;
    color: azure;
} 

.container ul{
    margin-top: 10px;
    background-color: aliceblue;  
}

.container ul li{
    padding: 10px;

}

.container ul li button{
    margin-left: 10px;
}