*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    padding-top: 20px;
    background-color:  deepskyblue;
    background-size: cover;
}

.container{
    width: 350px;
    margin:8px auto;
    padding: 10px;
    background-color:rgb(196, 211, 219);
    border-radius: 20px;
    box-shadow:0 0 17px rgb(25,24,23);
}

.heading{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}
p{
    text-align: center;
}
.heading h1{
    font-size: 40px;
    color:black;
}

form{
    text-align: center;
}

form input,button{
    width:300px;
    height:40px;
    margin-bottom:20px;
    border:none;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    font-size: 15px;
    outline: none;
}

form button{
    width:fit-content;
    background-color: #337af4;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 15px;
}

a{
    text-decoration: none;
}
a:hover{
    color: azure;
}

form button:hover{
    box-shadow: 2px 2px 2px 1px;
    cursor: pointer;
    color: azure;
    background-color:cornflowerblue;
    
}




.already {
    animation: hideAnimation 0s ease-in 5s;
    animation-fill-mode: forwards;
  }




@keyframes hideAnimation {
    to {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }